#header {
  height: 120px;
  width: 100%;
  background-color: #abf1dc;
  border-top: 5px solid #fdfcc2;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

body {
    text-align: center;
    margin: 0px;
    padding: 0px;

    background-color: #b2f3e5;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#izq{
    float: left;
    margin-left: 30%;
    margin-top: 10%;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
}
#der{
    float: right;
    margin-right: 30%;
    margin-top: 10%;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid rgb(238, 238, 238);

    height: 200px;
    width: 500px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  #card1{
      background-color: #907cdb;
  }
  #card2{
      background-color: #7cc7a8;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  a,
  a:visited,
  a:hover {
    color: #1f4baa;
    text-decoration: none;
  }

  a:hover {
    color: #b41861;
  } 


.app-logo-pac{
  width: 78%;
}